/*FONTE*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fonte {
    font-family: "Montserrat", sans-serif;
    src: url(../fonte/Montserrat-VariableFont_wght.ttf);
}

/*BODY*/
.fundo{
    background-color: #000000;
    color: #ffffff;
}

.margem{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.fonte{
    font-size: 21px;
}


/*NAVBAR*/
.pos-menu{
    display: flex;
    position: absolute;
    right: 10px;
}

.pos-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.fundo-dropdown{
    box-shadow: 4px 3px 5px #0654EA;
}


/*SOBRE*/
.tamanho-texto{
    width: 50%;
}

.foto{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    box-shadow: 10px 10px 8px #0654EA;
}

.flex-box-fot-tex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26%;
}


/*HABILIDADES*/
.progress{
    height: 1.3rem;
    font-size: 1.1rem;
    border-radius: 30px;
}

.flex-box-hab{
    display: flex;
    justify-content: space-between;
}

.pos-progress{
    position: relative;
    top: 8px;
}

.pos-porcentagem{
    position: absolute; 
    left: 94.9%;
}

.pos-porcentagem-100{
    position: absolute; 
    left: 94%;
}

.c{
    width: 90%;
}

.cplus{
    width: 55%;
}

.csharp{
    width: 80%;
}

.java{
    width: 70%;
}

.spboot{
    width: 65%;
}

.html{
    width: 90%;
}

.css{
    width: 90%;
}

.js{
    width: 70%;
}

.php{
    width: 50%;
}

.bootstrap{
    width: 90%;
}

.mysql{
    width: 90%;
}

.fb{
    width: 90%;
}

.inno{
    width: 50%;
}



/*PROJETOS*/
.espacamento{
    padding-bottom: 26%;
}

.container {
    text-align: center;
}

.posCarousel{
    padding-left: 2%;
    padding-right: 2%;
}

.cartoes {
    display: flex;
    padding-top: 10px;
    border-radius: 5px;
    text-align: center;
    height: 25rem;
}

.fundoCartoes {
    background-color: rgba(255, 255, 255, 0.8);
}

.compra {
    text-align: center;
}

.pos-botao-carousel-left{
    position: relative;
    right: 85px;
}

.pos-botao-carousel-right{
    position: relative;
    left: 85px;
}

.botao-card-figma{
    position: relative;
    bottom: 50px;
    left: 60px;
    font-size: 15px;
    background-color: #bbbbbb;
    width: 30%;
    height: 150%;
    border-radius: 7px;
    border: none;
}

.botao-card-github{
    position: relative;
    bottom: 50px;
    left: 90px;
    font-size: 15px;
    background-color: #bbbbbb;
    width: 30%;
    height: 150%;
    border-radius: 7px;
    border: none;
}

#sys.botao-card-github{
    left: 47px;
    width: 75%;
}

.index-botao-card{
    display: flex;
    z-index: 5000;
}

#git.botao-card-github{
    left: 145px;
}

.links-cards{
    text-decoration: none;
    color: #000000;
}

.links-cards:hover{
    color: #3a3a3a;
}


/*CONTATO*/
.links{
    text-decoration: none;
    color: #ffffff;
}

.links:hover{
    color: #c4c3c3;
}

.tam-text-contato{
    width: 50%;
}

.lista-contato{
    list-style-type: none;
    padding-right: 100px;
}


/*RODAPÉ*/
.rodape {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}




/*RESPONSIVIDADE (MEDIA QUERIES)*/

/*Telas Pequenas de Smartphones - Galaxy Fold*/
@media (min-width: 280px) and (max-width: 319px){
    /*NAVBAR*/
    .pos-menu{
        display: block;
        position: initial;
    }

    .navbar-nav{
        width: 50%;
    }


    /*BODY*/
    .fonte{
        font-size: 12px;
    }

    .margem{
        margin-top: 100px;
        margin-left: 6%;
        margin-right: 10%;
    }


    /*SOBRE*/
    .foto{
        width: 150px;
        height: 200px;
        border-radius: 25px;
        margin-top: 10%;
        margin-left: 20%;
    }

    .flex-box-fot-tex{
        display: block;
        justify-content: space-between;
        padding-bottom: 26%;
    }

    .tamanho-texto{
        width: 100%;
    }


    /*HABILIDADES*/
    .progress{
        height: 0.7rem;
        font-size: 1.1rem;
        border-radius: 30px;
    }

    .pos-porcentagem{
        left: 82%;
    }

    .pos-porcentagem-100{
        left: 80%;
    }

    .pos-progress{
        left: 11%;
    }

    .font-size-porcentagem{
        font-size: 10px;
    }

    .c{
        width: 70%;
    }

    .cplus{
        width: 47%;
    }
    
    .csharp{
        width: 65%;
    }
    
    .java{
        width: 58%;
    }

    .spboot{
        width: 53%;
    }
    
    .html{
        width: 70%;
    }
    
    .css{
        width: 70%;
    }
    
    .js{
        width: 58%;
    }
    
    .php{
        width: 44%;
    }
    
    .bootstrap{
        width: 70%;
    }
    
    .mysql{
        width: 70%;
    }
    
    .fb{
        width: 70%;
    }
    
    .inno{
        width: 44%;
    }


    /*PROJETOS*/
    .pos-botao-carousel-left{
        right: 10px;
    }
    
    .pos-botao-carousel-right{
        left: 10px;
    }
    .botao-card-figma{
        bottom: 18px;
        left: 25px;
        font-size: 10px;
    }
    
    .botao-card-github{
        bottom: 18px;
        left: 55px;
        font-size: 9.5px;
    }

    #git.botao-card-github{
        left: 73px;
    }

    #sys.botao-card-github{
        left: 5px;
        width: 95%;
    }
    
    /*CONTATO*/
    .tam-text-contato{
        width: 100%;
    }

    .lista-contato{
        list-style-type: none;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }

}


/*Telas de Smatphones mais Comuns - Moto G4*/
@media (min-width: 320px) and (max-width: 480px){
        /*NAVBAR*/
        .pos-menu{
            display: block;
            position: initial;
        }
    
        .navbar-nav{
            width: 50%;
        }
    
    
        /*BODY*/
        .fonte{
            font-size: 15px;
        }
    
        .margem{
            margin-top: 100px;
            margin-left: 6%;
            margin-right: 10%;
        }
    
    
        /*SOBRE*/
        .foto{
            width: 200px;
            height: 270px;
            border-radius: 25px;
            margin-top: 10%;
            margin-left: 25%;
        }
    
        .flex-box-fot-tex{
            display: block;
            justify-content: space-between;
            padding-bottom: 26%;
        }
    
        .tamanho-texto{
            width: 100%;
        }
    
    
        /*HABILIDADES*/
        .progress{
            height: 0.9rem;
            font-size: 1.1rem;
            border-radius: 30px;
        }
    
        .pos-porcentagem{
            left: 82%;
        }
    
        .pos-porcentagem-100{
            left: 80%;
        }
    
        .pos-progress{
            left: 11%;
        }
    
        .font-size-porcentagem{
            font-size: 12px;
        }
    
        .c{
            width: 70%;
        }
    
        .cplus{
            width: 47%;
        }
        
        .csharp{
            width: 65%;
        }
        
        .java{
            width: 58%;
        }
    
        .spboot{
            width: 55%;
        }
        
        .html{
            width: 70%;
        }
        
        .css{
            width: 70%;
        }
        
        .js{
            width: 58%;
        }
        
        .php{
            width: 44%;
        }
        
        .bootstrap{
            width: 70%;
        }
        
        .mysql{
            width: 70%;
        }
        
        .fb{
            width: 70%;
        }
        
        .inno{
            width: 44%;
        }
    
    
        /*PROJETOS*/
        .pos-botao-carousel-left{
            right: 10px;
        }
        
        .pos-botao-carousel-right{
            left: 10px;
        }
        .botao-card-figma{
            left: 45px;
            font-size: 13px;
        }
        
        .botao-card-github{  
            left: 75px;
            font-size: 13px;
        }
    
        #git.botao-card-github{
            left: 112px;
        }
    
        #sys.botao-card-github{
            left: 8px;
            width: 95%;
        }
        
        /*CONTATO*/
        .tam-text-contato{
            width: 100%;
        }
    
        .lista-contato{
            list-style-type: none;
            padding-top: 30px;
            padding-left: 0;
            padding-right: 0;
        }
}


/*Telas de Celulares Maiores ou Tablets Pequenos - Surface Duo*/
@media (min-width: 481px) and (max-width: 767px){
     /*NAVBAR*/
     .pos-menu{
        display: block;
        position: initial;
    }

    .navbar-nav{
        width: 50%;
    }


    /*BODY*/
    .fonte{
        font-size: 15px;
    }

    .margem{
        margin-top: 100px;
        margin-left: 6%;
        margin-right: 10%;
    }


    /*SOBRE*/
    .foto{
        width: 200px;
        height: 270px;
        border-radius: 25px;
        margin-top: 10%;
        margin-left: 25%;
    }

    .flex-box-fot-tex{
        display: block;
        justify-content: space-between;
        padding-bottom: 26%;
    }

    .tamanho-texto{
        width: 100%;
    }


    /*HABILIDADES*/
    .progress{
        height: 1rem;
        font-size: 1.1rem;
        border-radius: 30px;
    }

    .pos-porcentagem{
        left: 82%;
    }

    .pos-porcentagem-100{
        left: 80%;
    }

    .pos-progress{
        left: 11%;
    }

    .font-size-porcentagem{
        font-size: 12px;
    }

    .c{
        width: 70%;
    }

    .cplus{
        width: 47%;
    }
    
    .csharp{
        width: 65%;
    }
    
    .java{
        width: 58%;
    }

    .spboot{
        width: 55%;
    }
    
    .html{
        width: 70%;
    }
    
    .css{
        width: 70%;
    }
    
    .js{
        width: 58%;
    }
    
    .php{
        width: 44%;
    }
    
    .bootstrap{
        width: 70%;
    }
    
    .mysql{
        width: 70%;
    }
    
    .fb{
        width: 70%;
    }
    
    .inno{
        width: 44%;
    }


    /*PROJETOS*/
    .pos-botao-carousel-left{
        right: 10px;
    }
    
    .pos-botao-carousel-right{
        left: 10px;
    }
    .botao-card-figma{
        left: 65px;
        font-size: 13px;
    }
    
    .botao-card-github{  
        left: 95px;
        font-size: 13px;
    }

    #git.botao-card-github{
        left: 150px;
    }

    #sys.botao-card-github{
        left: 70px;
        width: 65%;
    }
    
    /*CONTATO*/
    .tam-text-contato{
        width: 100%;
    }

    .lista-contato{
        list-style-type: none;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }
}


/*Telas de Tablets - iPad*/
@media (min-width: 768px) and (max-width: 1023px){
    /*BODY*/
    .fonte{
        font-size: 15px;
    }

    /*NAVBAR*/
    .pos-menu{
        display: block;
        position: initial;
    }

    .navbar-nav{
        width: 20%;
    }

    /*SOBRE*/
    .tamanho-texto{
        width: 45%;
    }
    
    .foto{
        width: 250px;
        height: 350px;
        border-radius: 40px;
    }

    /*HABILIDADES*/
    .progress{
        height: 1rem;
        font-size: 1.1rem;
        border-radius: 30px;
    }

    .pos-porcentagem{
        left: 82%;
    }

    .pos-porcentagem-100{
        left: 80%;
    }

    .pos-progress{
        left: 11%;
    }

    .font-size-porcentagem{
        font-size: 12px;
    }

    .c{
        width: 70%;
    }

    .cplus{
        width: 47%;
    }
    
    .csharp{
        width: 65%;
    }
    
    .java{
        width: 58%;
    }

    .spboot{
        width: 55%;
    }
    
    .html{
        width: 70%;
    }
    
    .css{
        width: 70%;
    }
    
    .js{
        width: 58%;
    }
    
    .php{
        width: 44%;
    }
    
    .bootstrap{
        width: 70%;
    }
    
    .mysql{
        width: 70%;
    }
    
    .fb{
        width: 70%;
    }
    
    .inno{
        width: 44%;
    }

    /*PROJETOS*/
    .cartoes {
        height: 40rem;
    }

    .pos-botao-carousel-left{
        right: 30px;
    }
    
    .pos-botao-carousel-right{
        left: 30px;
    }
    .botao-card-figma{
        width: 42%;
        left: 7px;
        font-size: 10px;
    }
    
    .botao-card-github{  
        width: 42%;
        left: 20px;
        font-size: 10px;
    }

    #git.botao-card-github{
        left: 47px;
    }

    #sys.botao-card-github{
        left: 16px;
        width: 80%;
    }

    /*CONTATO*/
    .lista-contato{ 
        padding-left: 0;
        padding-right: 0;
    }
}


/*Telas de Tablets - Nest Hub*/
@media (min-width: 1024px) and (max-width: 1025px){
    /*BODY*/
    .fonte{
        font-size: 18px;
    }

    /*HABILIDADES*/
    .progress{
        height: 1.1rem;
    }

    .font-size-porcentagem{
        font-size: 13px;
    }

    /*PROJETOS*/
    .cartoes {
        height: 27rem;
    }

    .pos-botao-carousel-left{
        right: 41px;
    }
    
    .pos-botao-carousel-right{
        left: 41px;
    }

    .botao-card-figma{
        width: 42%;
        left: 7px;
        bottom: 25px;
        font-size: 13px;
    }
    
    .botao-card-github{  
        width: 42%;
        left: 25px;
        bottom: 25px;
        font-size: 13px;
    }

    #git.botao-card-github{
        left: 56px;
    }

    #sys.botao-card-github{
        left: 10px;
        bottom: 35px;
        width: 90%;
    }

    /*CONTATO*/
    .lista-contato{ 
        padding-left: 0;
        padding-right: 0;
    }
}


/*Telas de Tablets Maiores - Nest Hub Max*/
@media (min-width: 1026px) and (max-width: 1280px){
    /*BODY*/
    .fonte{
        font-size: 18px;
    }

    /*HABILIDADES*/
    .progress{
        height: 1.1rem;
    }

    .font-size-porcentagem{
        font-size: 13px;
    }

    /*PROJETOS*/
    .cartoes {
        height: 27rem;
    }

    .pos-botao-carousel-left{
        right: 57px;
    }
    
    .pos-botao-carousel-right{
        left: 57px;
    }

    .botao-card-figma{
        width: 42%;
        left: 12px;
        bottom: 25px;
        font-size: 15px;
    }
    
    .botao-card-github{  
        width: 42%;
        left: 30px;
        bottom: 25px;
        font-size: 15px;
    }

    #git.botao-card-github{
        left: 80px;
    }

    #sys.botao-card-github{
        left: 13px;
        bottom: 35px;
        width: 90%;
    }

    /*CONTATO*/
    .lista-contato{ 
        padding-left: 0;
        padding-right: 0;
    }
}


/*Telas de laptops*/
@media (min-width: 1281px) and (max-width: 1400px){
    /*BODY*/
    .fonte{
        font-size: 18px;
    }

    /*HABILIDADES*/
    .progress{
        height: 1.1rem;
    }

    .font-size-porcentagem{
        font-size: 13px;
    }

    /*PROJETOS*/
    .cartoes {
        height: 27rem;
    }

    .pos-botao-carousel-left{
        right: 59px;
    }
    
    .pos-botao-carousel-right{
        left: 59px;
    }

    .botao-card-figma{
        width: 42%;
        left: 12px;
        bottom: 25px;
        font-size: 15px;
    }
    
    .botao-card-github{  
        width: 42%;
        left: 30px;
        bottom: 25px;
        font-size: 15px;
    }

    #git.botao-card-github{
        left: 80px;
    }

    #sys.botao-card-github{
        left: 13px;
        bottom: 35px;
        width: 90%;
    }

    /*CONTATO*/
    .lista-contato{ 
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1401px) and (max-width: 1800px){
    /*PROJETOS*/
    .pos-botao-carousel-left{
        right: 67px;
    }
    
    .pos-botao-carousel-right{
        left: 67px;
    }

    #git.botao-card-github{
        left: 107px;
    }

    #sys.botao-card-github{
        left: 8px;
        bottom: 45px;
        width: 95%;
    }

    .botao-card-figma{
        left: 50px;
    }
    
    .botao-card-github{  
        left: 80px;
    }
}